body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.board-container{
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}